body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}

p {
    color: #666666;
    font-size: 18px;
    font-family: 'adobe garamond pro', serif;
}

h1 {
    color: #333333;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between; /* aligne les éléments aux extrémités */
    align-items: center;            /* aligne verticalement au centre */
    padding: 10px 30px;
    padding-right: 80px;
    background-color: #f4f4f4;
}

#nav-bar{
    list-style: none;        /* enlever les puces */
        padding: 0;
        margin: 0;
        display: flex;           /* alignement en ligne */
        gap: 10px;               
}

/* Conteneur en flex */
.conteneur {
    display: flex;
    color: #333333;
    text-align: center;
}

/* Bloc gauche */
.gauche {
    width: 50%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

/* Bloc droite */
.droite {
    width: 50%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

