body {
  background-color: #000000; 
  /* BIEN NOIR MORRAY */
  font-family: sans-serif;
  margin: 0;
    color: white;
  line-height: 100px;
  margin: 0;
  div {
  background-color: rgb(255, 83, 218);
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  margin: 0;
  color: rgb(0, 0, 0);
}
/*  Classe + ID */
#p-custom-id{
    color:aqua
}
.h1-custom{
    color:lime
}
}